--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: cinecore; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA cinecore;


ALTER SCHEMA cinecore OWNER TO postgres;

--
-- Name: fn_audit_ott_deal(); Type: FUNCTION; Schema: cinecore; Owner: postgres
--

CREATE FUNCTION cinecore.fn_audit_ott_deal() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- TG_OP automatically contains 'INSERT', 'UPDATE', or 'DELETE'
    IF TG_OP = 'INSERT' THEN
        INSERT INTO cinecore.OTT_Deal_Audit (
            Deal_Id, Operation,
            New_License_Fee, New_Territory, New_Deal_Type, New_Expiry_Date
        )
        VALUES (
            NEW.Deal_Id, 'INSERT',
            NEW.License_Fee, NEW.Territory, NEW.Deal_Type, NEW.Deal_Expiry_Date
        );

    ELSIF TG_OP = 'UPDATE' THEN
        -- Only log if something meaningful actually changed
        IF NEW.License_Fee IS DISTINCT FROM OLD.License_Fee OR
           NEW.Territory   IS DISTINCT FROM OLD.Territory   OR
           NEW.Deal_Type   IS DISTINCT FROM OLD.Deal_Type   OR
           NEW.Deal_Expiry_Date IS DISTINCT FROM OLD.Deal_Expiry_Date
        THEN
            INSERT INTO cinecore.OTT_Deal_Audit (
                Deal_Id, Operation,
                Old_License_Fee, New_License_Fee,
                Old_Territory,   New_Territory,
                Old_Deal_Type,   New_Deal_Type,
                Old_Expiry_Date, New_Expiry_Date
            )
            VALUES (
                NEW.Deal_Id, 'UPDATE',
                OLD.License_Fee, NEW.License_Fee,
                OLD.Territory,   NEW.Territory,
                OLD.Deal_Type,   NEW.Deal_Type,
                OLD.Deal_Expiry_Date, NEW.Deal_Expiry_Date
            );
        END IF;

    ELSIF TG_OP = 'DELETE' THEN
        INSERT INTO cinecore.OTT_Deal_Audit (
            Deal_Id, Operation,
            Old_License_Fee, Old_Territory, Old_Deal_Type, Old_Expiry_Date
        )
        VALUES (
            OLD.Deal_Id, 'DELETE',
            OLD.License_Fee, OLD.Territory, OLD.Deal_Type, OLD.Deal_Expiry_Date
        );
        -- For DELETE trigger, we return OLD (not NEW ΓÇö NEW doesn't exist)
        RETURN OLD;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION cinecore.fn_audit_ott_deal() OWNER TO postgres;

--
-- Name: fn_auto_mark_overdue(); Type: FUNCTION; Schema: cinecore; Owner: postgres
--

CREATE FUNCTION cinecore.fn_auto_mark_overdue() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- If the milestone is still PENDING and the due date has passed today
    IF NEW.Payment_Status = 'PENDING' AND NEW.Due_Date < CURRENT_DATE THEN
        NEW.Payment_Status := 'OVERDUE';
        RAISE NOTICE 'Milestone "%" auto-marked as OVERDUE (was due %).', 
            NEW.Milestone_Name, NEW.Due_Date;
    END IF;

    -- Return NEW with possibly modified Payment_Status
    RETURN NEW;
END;
$$;


ALTER FUNCTION cinecore.fn_auto_mark_overdue() OWNER TO postgres;

--
-- Name: fn_check_budget_overrun(); Type: FUNCTION; Schema: cinecore; Owner: postgres
--

CREATE FUNCTION cinecore.fn_check_budget_overrun() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_allocated     DECIMAL(15,2);
    v_total_spent   DECIMAL(15,2);
BEGIN
    -- We only care when status becomes APPROVED or PAID
    -- TG_OP = 'UPDATE' is guaranteed by trigger definition below
    IF NEW.Status IN ('APPROVED', 'PAID') AND
       (OLD.Status NOT IN ('APPROVED', 'PAID') OR TG_OP = 'INSERT')
    THEN
        -- Get the allocated budget for this head
        SELECT Allocated_Amount INTO v_allocated
        FROM cinecore.Budget_Head
        WHERE Budget_Head_Id = NEW.Budget_Head_Id;

        -- Sum all approved/paid expenses for this budget head
        SELECT COALESCE(SUM(Amount), 0) INTO v_total_spent
        FROM cinecore.Expense
        WHERE Budget_Head_Id = NEW.Budget_Head_Id
          AND Status IN ('APPROVED', 'PAID');

        -- Update the overspent flag accordingly
        -- (also resets it to FALSE if somehow came back under budget)
        UPDATE cinecore.Budget_Head
        SET Overspent_Flag = (v_total_spent > v_allocated)
        WHERE Budget_Head_Id = NEW.Budget_Head_Id;

        IF v_total_spent > v_allocated THEN
            RAISE WARNING 'BUDGET ALERT: Budget Head % is now overspent (Spent: %, Allocated: %).',
                NEW.Budget_Head_Id, v_total_spent, v_allocated;
        END IF;
    END IF;

    -- MUST return NEW for AFTER row-level triggers on INSERT/UPDATE
    RETURN NEW;
END;
$$;


ALTER FUNCTION cinecore.fn_check_budget_overrun() OWNER TO postgres;

--
-- Name: fn_prevent_location_double_booking(); Type: FUNCTION; Schema: cinecore; Owner: postgres
--

CREATE FUNCTION cinecore.fn_prevent_location_double_booking() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_conflict_project_id  INTEGER;
    v_conflict_title       VARCHAR;
BEGIN
    -- Check if any OTHER project (not this one) is already booked
    -- at the same location on the same date
    SELECT ss.Project_id, p.Title
    INTO v_conflict_project_id, v_conflict_title
    FROM cinecore.Shoot_Schedule ss
    JOIN cinecore.Project p ON p.Project_id = ss.Project_id
    WHERE ss.Location_Id    = NEW.Location_Id
      AND ss.Schedule_Date  = NEW.Schedule_Date
      AND ss.Status        != 'CANCELLED'     -- cancelled schedules don't block
      AND ss.Project_id    != NEW.Project_id  -- different project (not self)
      -- On UPDATE: exclude the current row being updated
      AND ss.Schedule_Id   != COALESCE(NEW.Schedule_Id, -1)
    LIMIT 1;

    IF v_conflict_project_id IS NOT NULL THEN
        RAISE EXCEPTION 
            'Location % is already booked on % by project "%" (ID: %). Choose another date or location.',
            NEW.Location_Id, NEW.Schedule_Date, v_conflict_title, v_conflict_project_id;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION cinecore.fn_prevent_location_double_booking() OWNER TO postgres;

--
-- Name: sp_create_project(character varying, integer, character varying, character varying, character varying, numeric, date, date); Type: PROCEDURE; Schema: cinecore; Owner: postgres
--

CREATE PROCEDURE cinecore.sp_create_project(IN p_title character varying, IN p_house_id integer, IN p_genre character varying, IN p_language character varying, IN p_format character varying, IN p_total_budget numeric, IN p_start_date date, IN p_expected_release date, OUT p_project_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    -- DECLARE block: local variables used inside this procedure
    v_allocated_per_head DECIMAL(15,2);
BEGIN
    -- -------------------------------------------------------
    -- STEP 1: Insert the project record
    -- RETURNING clause captures the auto-generated primary key
    -- and stores it into our OUT parameter p_project_id
    -- -------------------------------------------------------
    INSERT INTO cinecore.Project (
        Title, House_id, Genre, Language, Format,
        Total_Budget, Status, Start_Date, Expected_Release_Date
    )
    VALUES (
        p_title, p_house_id, p_genre, p_language, p_format,
        p_total_budget, 'DEVELOPMENT', p_start_date, p_expected_release
    )
    RETURNING Project_id INTO p_project_id;

    -- -------------------------------------------------------
    -- STEP 2: Auto-create standard budget heads
    -- We divide total budget equally across 6 departments
    -- as a starting placeholder (production can adjust later)
    -- -------------------------------------------------------
    v_allocated_per_head := ROUND(p_total_budget / 6, 2);

    -- INSERT multiple rows using a single INSERT ... VALUES statement
    INSERT INTO cinecore.Budget_Head (Project_id, Category_Name, Allocated_Amount)
    VALUES
        (p_project_id, 'Cast & Talent',       v_allocated_per_head),
        (p_project_id, 'Crew & Technical',    v_allocated_per_head),
        (p_project_id, 'Locations & Permits', v_allocated_per_head),
        (p_project_id, 'Post Production',     v_allocated_per_head),
        (p_project_id, 'Music & Sound',       v_allocated_per_head),
        (p_project_id, 'Marketing & PR',      v_allocated_per_head);

    -- RAISE NOTICE = print a message (useful for debugging)
    RAISE NOTICE 'Project "%" created with ID % and 6 budget heads.', p_title, p_project_id;

    -- In PostgreSQL procedures, COMMIT is optional inside CALL.
    -- The transaction is committed by the caller unless an exception occurs.

EXCEPTION
    -- If ANYTHING above fails (e.g. invalid house_id FK), we catch it here
    WHEN OTHERS THEN
        RAISE EXCEPTION 'sp_create_project failed: %', SQLERRM;
END;
$$;


ALTER PROCEDURE cinecore.sp_create_project(IN p_title character varying, IN p_house_id integer, IN p_genre character varying, IN p_language character varying, IN p_format character varying, IN p_total_budget numeric, IN p_start_date date, IN p_expected_release date, OUT p_project_id integer) OWNER TO postgres;

--
-- Name: sp_finalize_project(integer, date, character varying, character varying); Type: PROCEDURE; Schema: cinecore; Owner: postgres
--

CREATE PROCEDURE cinecore.sp_finalize_project(IN p_project_id integer, IN p_actual_release_date date, IN p_censor_cert_no character varying, IN p_censor_rating character varying)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_active_contracts  INTEGER;
    v_ott_deals         INTEGER;
    v_theatre_releases  INTEGER;
    v_project_title     VARCHAR;
BEGIN
    -- -------------------------------------------------------
    -- STEP 1: Get project title (also validates project exists)
    -- -------------------------------------------------------
    SELECT Title INTO v_project_title
    FROM cinecore.Project WHERE Project_id = p_project_id;

    IF v_project_title IS NULL THEN
        RAISE EXCEPTION 'Project % not found.', p_project_id;
    END IF;

    -- -------------------------------------------------------
    -- STEP 2: Check no contracts are still open
    -- -------------------------------------------------------
    SELECT COUNT(*) INTO v_active_contracts
    FROM cinecore.Contract
    WHERE Project_id = p_project_id
      AND Status IN ('ACTIVE', 'ON_HOLD');

    IF v_active_contracts > 0 THEN
        RAISE EXCEPTION 'Cannot finalize "%" ΓÇö % contract(s) are still ACTIVE or ON_HOLD.',
            v_project_title, v_active_contracts;
    END IF;

    -- -------------------------------------------------------
    -- STEP 3: Check distribution exists
    -- -------------------------------------------------------
    SELECT COUNT(*) INTO v_ott_deals
    FROM cinecore.OTT_Deal WHERE Project_id = p_project_id;

    SELECT COUNT(*) INTO v_theatre_releases
    FROM cinecore.Theatre_Release WHERE Project_id = p_project_id;

    IF v_ott_deals = 0 AND v_theatre_releases = 0 THEN
        RAISE EXCEPTION 'Cannot finalize "%" ΓÇö no OTT deal or theatre release exists.', v_project_title;
    END IF;

    -- -------------------------------------------------------
    -- STEP 4: All checks passed ΓÇö update the project
    -- -------------------------------------------------------
    UPDATE cinecore.Project
    SET
        Status                = 'RELEASED',
        Actual_Release_Date   = p_actual_release_date,
        Censor_Certificate_No = p_censor_cert_no,
        Censor_Rating         = p_censor_rating
    WHERE Project_id = p_project_id;

    RAISE NOTICE 'Project "%" (ID: %) successfully finalized as RELEASED on %.', 
        v_project_title, p_project_id, p_actual_release_date;

EXCEPTION
    WHEN OTHERS THEN
        RAISE EXCEPTION 'sp_finalize_project failed: %', SQLERRM;
END;
$$;


ALTER PROCEDURE cinecore.sp_finalize_project(IN p_project_id integer, IN p_actual_release_date date, IN p_censor_cert_no character varying, IN p_censor_rating character varying) OWNER TO postgres;

--
-- Name: sp_record_expense(integer, integer, integer, text, numeric, date, character varying, character varying); Type: PROCEDURE; Schema: cinecore; Owner: postgres
--

CREATE PROCEDURE cinecore.sp_record_expense(IN p_project_id integer, IN p_budget_head_id integer, IN p_vendor_id integer, IN p_description text, IN p_amount numeric, IN p_expense_date date, IN p_payment_mode character varying, IN p_invoice_no character varying, OUT p_expense_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_allocated     DECIMAL(15,2);
    v_total_spent   DECIMAL(15,2);
    v_head_name     VARCHAR;
BEGIN
    -- -------------------------------------------------------
    -- STEP 1: Validate that budget head belongs to this project
    -- Prevents recording expenses on wrong project's budget
    -- -------------------------------------------------------
    SELECT Allocated_Amount, Category_Name
    INTO v_allocated, v_head_name
    FROM cinecore.Budget_Head
    WHERE Budget_Head_Id = p_budget_head_id
      AND Project_id = p_project_id;

    -- If SELECT INTO finds no row, v_allocated will be NULL
    IF v_allocated IS NULL THEN
        RAISE EXCEPTION 'Budget Head % does not belong to Project %.', p_budget_head_id, p_project_id;
    END IF;

    -- -------------------------------------------------------
    -- STEP 2: Insert the expense
    -- Status starts as PENDING ΓÇö needs approval before payment
    -- -------------------------------------------------------
    INSERT INTO cinecore.Expense (
        Project_id, Budget_Head_Id, Vendor_Id, Description,
        Amount, Expense_Date, Payment_Mode, Invoice_No, Status
    )
    VALUES (
        p_project_id, p_budget_head_id, p_vendor_id, p_description,
        p_amount, p_expense_date, p_payment_mode, p_invoice_no, 'PENDING'
    )
    RETURNING Expense_Id INTO p_expense_id;

    -- -------------------------------------------------------
    -- STEP 3: Calculate total spent on this budget head
    -- SUM of all APPROVED + PAID expenses (not DISPUTED/PENDING)
    -- -------------------------------------------------------
    SELECT COALESCE(SUM(Amount), 0)
    INTO v_total_spent
    FROM cinecore.Expense
    WHERE Budget_Head_Id = p_budget_head_id
      AND Status IN ('APPROVED', 'PAID');
    -- Note: We include the just-inserted expense only after approval.
    -- This is intentional: pending expenses don't count yet.

    -- -------------------------------------------------------
    -- STEP 4: Check for budget overrun
    -- -------------------------------------------------------
    IF v_total_spent > v_allocated THEN
        -- Update the flag
        UPDATE cinecore.Budget_Head
        SET Overspent_Flag = TRUE
        WHERE Budget_Head_Id = p_budget_head_id;

        -- RAISE WARNING = logs a warning but does NOT stop execution
        -- (unlike RAISE EXCEPTION which rolls back)
        RAISE WARNING 'BUDGET OVERRUN: "%" head on Project % is overspent. Allocated: %, Spent: %',
            v_head_name, p_project_id, v_allocated, v_total_spent;
    END IF;

    RAISE NOTICE 'Expense % recorded: % on budget head "%".', p_expense_id, p_amount, v_head_name;

EXCEPTION
    WHEN OTHERS THEN
        RAISE EXCEPTION 'sp_record_expense failed: %', SQLERRM;
END;
$$;


ALTER PROCEDURE cinecore.sp_record_expense(IN p_project_id integer, IN p_budget_head_id integer, IN p_vendor_id integer, IN p_description text, IN p_amount numeric, IN p_expense_date date, IN p_payment_mode character varying, IN p_invoice_no character varying, OUT p_expense_id integer) OWNER TO postgres;

--
-- Name: sp_sign_contract(integer, integer, character varying, character varying, numeric, date, date, date); Type: PROCEDURE; Schema: cinecore; Owner: postgres
--

CREATE PROCEDURE cinecore.sp_sign_contract(IN p_person_id integer, IN p_project_id integer, IN p_role character varying, IN p_character_name character varying, IN p_contract_fee numeric, IN p_signing_date date, IN p_start_date date, IN p_end_date date, OUT p_contract_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_shoot_start   DATE;
    v_30_pct        DECIMAL(15,2);
    v_40_pct        DECIMAL(15,2);
BEGIN
    -- -------------------------------------------------------
    -- STEP 1: Check if contract already exists
    -- We do this manually to give a better error than a
    -- cryptic UNIQUE constraint violation message
    -- -------------------------------------------------------
    IF EXISTS (
        SELECT 1 FROM cinecore.Contract
        WHERE Person_id = p_person_id AND Project_id = p_project_id
    ) THEN
        RAISE EXCEPTION 'Person % already has a contract on Project %.', p_person_id, p_project_id;
    END IF;

    -- -------------------------------------------------------
    -- STEP 2: Insert the contract
    -- -------------------------------------------------------
    INSERT INTO cinecore.Contract (
        Person_id, Project_id, Role, Character_Name,
        Contract_Fee, Signing_Date, Start_Date, End_Date, Status
    )
    VALUES (
        p_person_id, p_project_id, p_role, p_character_name,
        p_contract_fee, p_signing_date, p_start_date, p_end_date, 'ACTIVE'
    )
    RETURNING Contract_id INTO p_contract_id;

    -- -------------------------------------------------------
    -- STEP 3: Auto-create 3 payment milestones
    -- Standard Bollywood contract payment split: 30/40/30
    -- -------------------------------------------------------
    v_30_pct := ROUND(p_contract_fee * 0.30, 2);
    v_40_pct := ROUND(p_contract_fee * 0.40, 2);
    -- Note: third tranche = remaining amount (avoids rounding errors)

    INSERT INTO cinecore.Payment_Milestone (
        Contract_id, Milestone_Name, Due_Date, Amount, Payment_Status
    )
    VALUES
        -- Milestone 1: Signing advance ΓÇö due on signing date
        (p_contract_id, 'Signing Advance (30%)',
         p_signing_date,
         v_30_pct,
         'PENDING'),

        -- Milestone 2: Shoot start ΓÇö due on contract start date
        (p_contract_id, 'Shoot Commencement (40%)',
         p_start_date,
         v_40_pct,
         'PENDING'),

        -- Milestone 3: Final delivery ΓÇö due on end date (or 30 days after start if no end)
        (p_contract_id, 'Final Delivery (30%)',
         COALESCE(p_end_date, p_start_date + INTERVAL '90 days'),
         p_contract_fee - v_30_pct - v_40_pct,   -- remaining avoids rounding loss
         'PENDING');

    RAISE NOTICE 'Contract % created for Person % on Project %. 3 payment milestones added.',
        p_contract_id, p_person_id, p_project_id;

EXCEPTION
    WHEN OTHERS THEN
        RAISE EXCEPTION 'sp_sign_contract failed: %', SQLERRM;
END;
$$;


ALTER PROCEDURE cinecore.sp_sign_contract(IN p_person_id integer, IN p_project_id integer, IN p_role character varying, IN p_character_name character varying, IN p_contract_fee numeric, IN p_signing_date date, IN p_start_date date, IN p_end_date date, OUT p_contract_id integer) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: budget_head; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.budget_head (
    budget_head_id integer NOT NULL,
    project_id integer NOT NULL,
    category_name character varying(100) NOT NULL,
    allocated_amount numeric(15,2) NOT NULL,
    overspent_flag boolean DEFAULT false NOT NULL,
    head_of_department integer
);


ALTER TABLE cinecore.budget_head OWNER TO postgres;

--
-- Name: budget_head_budget_head_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.budget_head_budget_head_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.budget_head_budget_head_id_seq OWNER TO postgres;

--
-- Name: budget_head_budget_head_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.budget_head_budget_head_id_seq OWNED BY cinecore.budget_head.budget_head_id;


--
-- Name: contract; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.contract (
    contract_id integer NOT NULL,
    person_id integer NOT NULL,
    project_id integer NOT NULL,
    role character varying(50) NOT NULL,
    character_name character varying(150),
    contract_fee numeric(15,2) NOT NULL,
    currency character varying(10) DEFAULT 'INR'::character varying NOT NULL,
    signing_date date NOT NULL,
    start_date date NOT NULL,
    end_date date,
    status character varying(20) NOT NULL,
    special_clauses text,
    CONSTRAINT contract_role_check CHECK (((role)::text = ANY ((ARRAY['ACTOR'::character varying, 'DIRECTOR'::character varying, 'WRITER'::character varying, 'DOP'::character varying, 'MUSIC_COMPOSER'::character varying, 'EDITOR'::character varying, 'VFX_HEAD'::character varying, 'COSTUME'::character varying, 'CHOREOGRAPHER'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT contract_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'COMPLETED'::character varying, 'TERMINATED'::character varying, 'ON_HOLD'::character varying])::text[])))
);


ALTER TABLE cinecore.contract OWNER TO postgres;

--
-- Name: contract_contract_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.contract_contract_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.contract_contract_id_seq OWNER TO postgres;

--
-- Name: contract_contract_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.contract_contract_id_seq OWNED BY cinecore.contract.contract_id;


--
-- Name: expense; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.expense (
    expense_id integer NOT NULL,
    project_id integer NOT NULL,
    budget_head_id integer NOT NULL,
    vendor_id integer NOT NULL,
    description text NOT NULL,
    amount numeric(15,2) NOT NULL,
    expense_date date NOT NULL,
    payment_mode character varying(20),
    approved_by integer,
    invoice_no character varying(100),
    status character varying(20) NOT NULL,
    CONSTRAINT expense_payment_mode_check CHECK (((payment_mode)::text = ANY ((ARRAY['CHEQUE'::character varying, 'NEFT'::character varying, 'CASH'::character varying, 'UPI'::character varying])::text[]))),
    CONSTRAINT expense_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'PAID'::character varying, 'DISPUTED'::character varying])::text[])))
);


ALTER TABLE cinecore.expense OWNER TO postgres;

--
-- Name: expense_expense_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.expense_expense_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.expense_expense_id_seq OWNER TO postgres;

--
-- Name: expense_expense_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.expense_expense_id_seq OWNED BY cinecore.expense.expense_id;


--
-- Name: location; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.location (
    location_id integer NOT NULL,
    location_name character varying(200) NOT NULL,
    type character varying(30) NOT NULL,
    address text,
    city character varying(100) NOT NULL,
    state character varying(100),
    country character varying(100) NOT NULL,
    contact_person character varying(150) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    daily_rental_cost numeric(12,2),
    facilities_available text,
    permits_required boolean NOT NULL,
    permit_authority character varying(200),
    CONSTRAINT location_type_check CHECK (((type)::text = ANY ((ARRAY['OUTDOOR'::character varying, 'FOREIGN'::character varying, 'INDOOR_SET'::character varying])::text[])))
);


ALTER TABLE cinecore.location OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.location_location_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.location_location_id_seq OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.location_location_id_seq OWNED BY cinecore.location.location_id;


--
-- Name: ott_deal; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.ott_deal (
    deal_id integer NOT NULL,
    project_id integer NOT NULL,
    platform_id integer NOT NULL,
    deal_type character varying(20) NOT NULL,
    territory character varying(200) NOT NULL,
    license_fee numeric(15,2),
    revenue_share_percent numeric(5,2),
    deal_signing_date date NOT NULL,
    streaming_start_date date NOT NULL,
    deal_expiry_date date NOT NULL,
    languages text,
    CONSTRAINT ott_deal_deal_type_check CHECK (((deal_type)::text = ANY ((ARRAY['EXCLUSIVE'::character varying, 'NON_EXCLUSIVE'::character varying, 'OTT_PREMIERE'::character varying])::text[])))
);


ALTER TABLE cinecore.ott_deal OWNER TO postgres;

--
-- Name: ott_deal_audit; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.ott_deal_audit (
    audit_id integer NOT NULL,
    deal_id integer NOT NULL,
    operation character varying(10) NOT NULL,
    changed_at timestamp with time zone DEFAULT now() NOT NULL,
    old_license_fee numeric(15,2),
    new_license_fee numeric(15,2),
    old_territory character varying(200),
    new_territory character varying(200),
    old_deal_type character varying(20),
    new_deal_type character varying(20),
    old_expiry_date date,
    new_expiry_date date
);


ALTER TABLE cinecore.ott_deal_audit OWNER TO postgres;

--
-- Name: ott_deal_audit_audit_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.ott_deal_audit_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.ott_deal_audit_audit_id_seq OWNER TO postgres;

--
-- Name: ott_deal_audit_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.ott_deal_audit_audit_id_seq OWNED BY cinecore.ott_deal_audit.audit_id;


--
-- Name: ott_deal_deal_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.ott_deal_deal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.ott_deal_deal_id_seq OWNER TO postgres;

--
-- Name: ott_deal_deal_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.ott_deal_deal_id_seq OWNED BY cinecore.ott_deal.deal_id;


--
-- Name: ott_platform; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.ott_platform (
    ott_id integer NOT NULL,
    name character varying(100) NOT NULL,
    hq_country character varying(100) NOT NULL,
    subscriber_base_millions numeric(8,2),
    contact_person character varying(150) NOT NULL,
    contact_email character varying(150) NOT NULL
);


ALTER TABLE cinecore.ott_platform OWNER TO postgres;

--
-- Name: ott_platform_ott_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.ott_platform_ott_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.ott_platform_ott_id_seq OWNER TO postgres;

--
-- Name: ott_platform_ott_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.ott_platform_ott_id_seq OWNED BY cinecore.ott_platform.ott_id;


--
-- Name: payment_milestone; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.payment_milestone (
    milestone_id integer NOT NULL,
    contract_id integer NOT NULL,
    milestone_name character varying(100) NOT NULL,
    due_date date NOT NULL,
    amount numeric(15,2) NOT NULL,
    paid_date date,
    payment_status character varying(20) NOT NULL,
    transaction_reference_no character varying(100),
    CONSTRAINT payment_milestone_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['PENDING'::character varying, 'PAID'::character varying, 'OVERDUE'::character varying])::text[])))
);


ALTER TABLE cinecore.payment_milestone OWNER TO postgres;

--
-- Name: payment_milestone_milestone_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.payment_milestone_milestone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.payment_milestone_milestone_id_seq OWNER TO postgres;

--
-- Name: payment_milestone_milestone_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.payment_milestone_milestone_id_seq OWNED BY cinecore.payment_milestone.milestone_id;


--
-- Name: permit; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.permit (
    permit_id integer NOT NULL,
    project_id integer NOT NULL,
    location_id integer NOT NULL,
    issuing_authority character varying(200) NOT NULL,
    permit_type character varying(50) NOT NULL,
    application_date date NOT NULL,
    issued_date date,
    valid_from date,
    valid_to date,
    permit_fee numeric(10,2),
    status character varying(20) NOT NULL,
    CONSTRAINT permit_permit_type_check CHECK (((permit_type)::text = ANY ((ARRAY['SHOOTING'::character varying, 'PARKING'::character varying, 'DRONE_FLIGHT'::character varying, 'NIGHT_SHOOT'::character varying])::text[]))),
    CONSTRAINT permit_status_check CHECK (((status)::text = ANY ((ARRAY['APPLIED'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'EXPIRED'::character varying])::text[])))
);


ALTER TABLE cinecore.permit OWNER TO postgres;

--
-- Name: permit_permit_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.permit_permit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.permit_permit_id_seq OWNER TO postgres;

--
-- Name: permit_permit_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.permit_permit_id_seq OWNED BY cinecore.permit.permit_id;


--
-- Name: person; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.person (
    person_id integer NOT NULL,
    full_name character varying(150) NOT NULL,
    screen_name character varying(150),
    nationality character varying(100) NOT NULL,
    dob date NOT NULL,
    gender character varying(20),
    primary_profession character varying(100) NOT NULL,
    pan_no character varying(15) NOT NULL,
    contact_email character varying(150) NOT NULL,
    contact_phone character varying(20),
    agent_name character varying(150),
    agent_contact character varying(150)
);


ALTER TABLE cinecore.person OWNER TO postgres;

--
-- Name: person_person_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.person_person_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.person_person_id_seq OWNER TO postgres;

--
-- Name: person_person_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.person_person_id_seq OWNED BY cinecore.person.person_id;


--
-- Name: production_house; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.production_house (
    house_id integer NOT NULL,
    name character varying(150) NOT NULL,
    founded_year integer,
    headquarter_city character varying(100) NOT NULL,
    headquarter_country character varying(100) NOT NULL,
    gstin character varying(20),
    website character varying(200),
    contact_email character varying(150) NOT NULL
);


ALTER TABLE cinecore.production_house OWNER TO postgres;

--
-- Name: production_house_house_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.production_house_house_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.production_house_house_id_seq OWNER TO postgres;

--
-- Name: production_house_house_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.production_house_house_id_seq OWNED BY cinecore.production_house.house_id;


--
-- Name: production_vendor; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.production_vendor (
    vendor_id integer NOT NULL,
    company_name character varying(200) NOT NULL,
    service_type character varying(100) NOT NULL,
    gstin character varying(20),
    contact_name character varying(150) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    contact_email character varying(150) NOT NULL,
    internal_rating integer,
    bank_account_no character varying(30),
    bank_ifsc character varying(15),
    CONSTRAINT production_vendor_internal_rating_check CHECK (((internal_rating >= 1) AND (internal_rating <= 5))),
    CONSTRAINT production_vendor_service_type_check CHECK (((service_type)::text = ANY ((ARRAY['VFX'::character varying, 'EQUIPMENT_RENTAL'::character varying, 'CATERING'::character varying, 'SECURITY'::character varying, 'TRANSPORT'::character varying, 'STUDIO_HIRE'::character varying])::text[])))
);


ALTER TABLE cinecore.production_vendor OWNER TO postgres;

--
-- Name: production_vendor_vendor_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.production_vendor_vendor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.production_vendor_vendor_id_seq OWNER TO postgres;

--
-- Name: production_vendor_vendor_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.production_vendor_vendor_id_seq OWNED BY cinecore.production_vendor.vendor_id;


--
-- Name: project; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.project (
    project_id integer NOT NULL,
    title character varying(200) NOT NULL,
    house_id integer NOT NULL,
    genre character varying(100) NOT NULL,
    language character varying(100) NOT NULL,
    format character varying(50) NOT NULL,
    total_budget numeric(15,2) NOT NULL,
    status character varying(30) NOT NULL,
    start_date date NOT NULL,
    expected_release_date date,
    actual_release_date date,
    censor_certificate_no character varying(50),
    censor_rating character varying(5),
    runtime_minutes integer,
    CONSTRAINT project_censor_rating_check CHECK (((censor_rating)::text = ANY ((ARRAY['U'::character varying, 'UA'::character varying, 'A'::character varying])::text[]))),
    CONSTRAINT project_format_check CHECK (((format)::text = ANY ((ARRAY['Feature Film'::character varying, 'Web Series'::character varying, 'Short Film'::character varying, 'Documentary'::character varying])::text[]))),
    CONSTRAINT project_status_check CHECK (((status)::text = ANY ((ARRAY['DEVELOPMENT'::character varying, 'PRE_PRODUCTION'::character varying, 'SHOOTING'::character varying, 'POST_PRODUCTION'::character varying, 'RELEASED'::character varying, 'SHELVED'::character varying])::text[])))
);


ALTER TABLE cinecore.project OWNER TO postgres;

--
-- Name: project_project_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.project_project_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.project_project_id_seq OWNER TO postgres;

--
-- Name: project_project_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.project_project_id_seq OWNED BY cinecore.project.project_id;


--
-- Name: script; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.script (
    script_id integer NOT NULL,
    project_id integer NOT NULL,
    version_no integer NOT NULL,
    written_by integer NOT NULL,
    submitted_date date NOT NULL,
    status character varying(20) NOT NULL,
    notes text,
    word_count integer,
    CONSTRAINT script_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'UNDER_REVIEW'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE cinecore.script OWNER TO postgres;

--
-- Name: script_script_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.script_script_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.script_script_id_seq OWNER TO postgres;

--
-- Name: script_script_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.script_script_id_seq OWNED BY cinecore.script.script_id;


--
-- Name: shoot_schedule; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.shoot_schedule (
    schedule_id integer NOT NULL,
    project_id integer NOT NULL,
    location_id integer NOT NULL,
    schedule_date date NOT NULL,
    scene_nos character varying(200) NOT NULL,
    call_time time without time zone NOT NULL,
    status character varying(20) NOT NULL,
    director_notes text,
    delay_reason text,
    CONSTRAINT shoot_schedule_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying, 'POSTPONED'::character varying])::text[])))
);


ALTER TABLE cinecore.shoot_schedule OWNER TO postgres;

--
-- Name: shoot_schedule_schedule_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.shoot_schedule_schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.shoot_schedule_schedule_id_seq OWNER TO postgres;

--
-- Name: shoot_schedule_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.shoot_schedule_schedule_id_seq OWNED BY cinecore.shoot_schedule.schedule_id;


--
-- Name: song; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.song (
    song_id integer NOT NULL,
    project_id integer NOT NULL,
    title character varying(200) NOT NULL,
    duration_seconds integer,
    music_director_id integer NOT NULL,
    lyricist_id integer,
    recording_studio character varying(150),
    recording_date date,
    isrc_code character varying(20)
);


ALTER TABLE cinecore.song OWNER TO postgres;

--
-- Name: song_singer; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.song_singer (
    song_id integer NOT NULL,
    singer_id integer NOT NULL,
    voice_type character varying(30) NOT NULL,
    CONSTRAINT song_singer_voice_type_check CHECK (((voice_type)::text = ANY ((ARRAY['LEAD_MALE'::character varying, 'LEAD_FEMALE'::character varying, 'CHORUS'::character varying])::text[])))
);


ALTER TABLE cinecore.song_singer OWNER TO postgres;

--
-- Name: song_song_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.song_song_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.song_song_id_seq OWNER TO postgres;

--
-- Name: song_song_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.song_song_id_seq OWNED BY cinecore.song.song_id;


--
-- Name: theatre_release; Type: TABLE; Schema: cinecore; Owner: postgres
--

CREATE TABLE cinecore.theatre_release (
    theatre_release_id integer NOT NULL,
    project_id integer NOT NULL,
    city character varying(100) NOT NULL,
    theatre_chain character varying(100) NOT NULL,
    no_of_screens integer NOT NULL,
    release_date date NOT NULL,
    opening_weekend_collection numeric(15,2),
    total_collection numeric(15,2),
    weeks_running integer
);


ALTER TABLE cinecore.theatre_release OWNER TO postgres;

--
-- Name: theatre_release_theatre_release_id_seq; Type: SEQUENCE; Schema: cinecore; Owner: postgres
--

CREATE SEQUENCE cinecore.theatre_release_theatre_release_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cinecore.theatre_release_theatre_release_id_seq OWNER TO postgres;

--
-- Name: theatre_release_theatre_release_id_seq; Type: SEQUENCE OWNED BY; Schema: cinecore; Owner: postgres
--

ALTER SEQUENCE cinecore.theatre_release_theatre_release_id_seq OWNED BY cinecore.theatre_release.theatre_release_id;


--
-- Name: budget_head budget_head_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.budget_head ALTER COLUMN budget_head_id SET DEFAULT nextval('cinecore.budget_head_budget_head_id_seq'::regclass);


--
-- Name: contract contract_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.contract ALTER COLUMN contract_id SET DEFAULT nextval('cinecore.contract_contract_id_seq'::regclass);


--
-- Name: expense expense_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense ALTER COLUMN expense_id SET DEFAULT nextval('cinecore.expense_expense_id_seq'::regclass);


--
-- Name: location location_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.location ALTER COLUMN location_id SET DEFAULT nextval('cinecore.location_location_id_seq'::regclass);


--
-- Name: ott_deal deal_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal ALTER COLUMN deal_id SET DEFAULT nextval('cinecore.ott_deal_deal_id_seq'::regclass);


--
-- Name: ott_deal_audit audit_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal_audit ALTER COLUMN audit_id SET DEFAULT nextval('cinecore.ott_deal_audit_audit_id_seq'::regclass);


--
-- Name: ott_platform ott_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_platform ALTER COLUMN ott_id SET DEFAULT nextval('cinecore.ott_platform_ott_id_seq'::regclass);


--
-- Name: payment_milestone milestone_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.payment_milestone ALTER COLUMN milestone_id SET DEFAULT nextval('cinecore.payment_milestone_milestone_id_seq'::regclass);


--
-- Name: permit permit_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.permit ALTER COLUMN permit_id SET DEFAULT nextval('cinecore.permit_permit_id_seq'::regclass);


--
-- Name: person person_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.person ALTER COLUMN person_id SET DEFAULT nextval('cinecore.person_person_id_seq'::regclass);


--
-- Name: production_house house_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_house ALTER COLUMN house_id SET DEFAULT nextval('cinecore.production_house_house_id_seq'::regclass);


--
-- Name: production_vendor vendor_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_vendor ALTER COLUMN vendor_id SET DEFAULT nextval('cinecore.production_vendor_vendor_id_seq'::regclass);


--
-- Name: project project_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.project ALTER COLUMN project_id SET DEFAULT nextval('cinecore.project_project_id_seq'::regclass);


--
-- Name: script script_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.script ALTER COLUMN script_id SET DEFAULT nextval('cinecore.script_script_id_seq'::regclass);


--
-- Name: shoot_schedule schedule_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.shoot_schedule ALTER COLUMN schedule_id SET DEFAULT nextval('cinecore.shoot_schedule_schedule_id_seq'::regclass);


--
-- Name: song song_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song ALTER COLUMN song_id SET DEFAULT nextval('cinecore.song_song_id_seq'::regclass);


--
-- Name: theatre_release theatre_release_id; Type: DEFAULT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.theatre_release ALTER COLUMN theatre_release_id SET DEFAULT nextval('cinecore.theatre_release_theatre_release_id_seq'::regclass);


--
-- Name: budget_head budget_head_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.budget_head
    ADD CONSTRAINT budget_head_pkey PRIMARY KEY (budget_head_id);


--
-- Name: budget_head budget_head_project_id_category_name_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.budget_head
    ADD CONSTRAINT budget_head_project_id_category_name_key UNIQUE (project_id, category_name);


--
-- Name: contract contract_person_id_project_id_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.contract
    ADD CONSTRAINT contract_person_id_project_id_key UNIQUE (person_id, project_id);


--
-- Name: contract contract_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.contract
    ADD CONSTRAINT contract_pkey PRIMARY KEY (contract_id);


--
-- Name: expense expense_invoice_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_invoice_no_key UNIQUE (invoice_no);


--
-- Name: expense expense_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_pkey PRIMARY KEY (expense_id);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (location_id);


--
-- Name: ott_deal_audit ott_deal_audit_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal_audit
    ADD CONSTRAINT ott_deal_audit_pkey PRIMARY KEY (audit_id);


--
-- Name: ott_deal ott_deal_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal
    ADD CONSTRAINT ott_deal_pkey PRIMARY KEY (deal_id);


--
-- Name: ott_deal ott_deal_project_id_platform_id_territory_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal
    ADD CONSTRAINT ott_deal_project_id_platform_id_territory_key UNIQUE (project_id, platform_id, territory);


--
-- Name: ott_platform ott_platform_name_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_platform
    ADD CONSTRAINT ott_platform_name_key UNIQUE (name);


--
-- Name: ott_platform ott_platform_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_platform
    ADD CONSTRAINT ott_platform_pkey PRIMARY KEY (ott_id);


--
-- Name: payment_milestone payment_milestone_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.payment_milestone
    ADD CONSTRAINT payment_milestone_pkey PRIMARY KEY (milestone_id);


--
-- Name: payment_milestone payment_milestone_transaction_reference_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.payment_milestone
    ADD CONSTRAINT payment_milestone_transaction_reference_no_key UNIQUE (transaction_reference_no);


--
-- Name: permit permit_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.permit
    ADD CONSTRAINT permit_pkey PRIMARY KEY (permit_id);


--
-- Name: person person_pan_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.person
    ADD CONSTRAINT person_pan_no_key UNIQUE (pan_no);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (person_id);


--
-- Name: production_house production_house_gstin_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_house
    ADD CONSTRAINT production_house_gstin_key UNIQUE (gstin);


--
-- Name: production_house production_house_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_house
    ADD CONSTRAINT production_house_pkey PRIMARY KEY (house_id);


--
-- Name: production_vendor production_vendor_bank_account_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_vendor
    ADD CONSTRAINT production_vendor_bank_account_no_key UNIQUE (bank_account_no);


--
-- Name: production_vendor production_vendor_gstin_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_vendor
    ADD CONSTRAINT production_vendor_gstin_key UNIQUE (gstin);


--
-- Name: production_vendor production_vendor_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.production_vendor
    ADD CONSTRAINT production_vendor_pkey PRIMARY KEY (vendor_id);


--
-- Name: project project_censor_certificate_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.project
    ADD CONSTRAINT project_censor_certificate_no_key UNIQUE (censor_certificate_no);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (project_id);


--
-- Name: script script_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.script
    ADD CONSTRAINT script_pkey PRIMARY KEY (script_id);


--
-- Name: script script_project_id_version_no_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.script
    ADD CONSTRAINT script_project_id_version_no_key UNIQUE (project_id, version_no);


--
-- Name: shoot_schedule shoot_schedule_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.shoot_schedule
    ADD CONSTRAINT shoot_schedule_pkey PRIMARY KEY (schedule_id);


--
-- Name: shoot_schedule shoot_schedule_project_id_schedule_date_location_id_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.shoot_schedule
    ADD CONSTRAINT shoot_schedule_project_id_schedule_date_location_id_key UNIQUE (project_id, schedule_date, location_id);


--
-- Name: song song_isrc_code_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song
    ADD CONSTRAINT song_isrc_code_key UNIQUE (isrc_code);


--
-- Name: song song_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song
    ADD CONSTRAINT song_pkey PRIMARY KEY (song_id);


--
-- Name: song_singer song_singer_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song_singer
    ADD CONSTRAINT song_singer_pkey PRIMARY KEY (song_id, singer_id);


--
-- Name: theatre_release theatre_release_pkey; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.theatre_release
    ADD CONSTRAINT theatre_release_pkey PRIMARY KEY (theatre_release_id);


--
-- Name: theatre_release theatre_release_project_id_city_theatre_chain_key; Type: CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.theatre_release
    ADD CONSTRAINT theatre_release_project_id_city_theatre_chain_key UNIQUE (project_id, city, theatre_chain);


--
-- Name: expense trg_expense_budget_check; Type: TRIGGER; Schema: cinecore; Owner: postgres
--

CREATE TRIGGER trg_expense_budget_check AFTER INSERT OR UPDATE OF status ON cinecore.expense FOR EACH ROW EXECUTE FUNCTION cinecore.fn_check_budget_overrun();


--
-- Name: shoot_schedule trg_location_double_booking; Type: TRIGGER; Schema: cinecore; Owner: postgres
--

CREATE TRIGGER trg_location_double_booking BEFORE INSERT OR UPDATE ON cinecore.shoot_schedule FOR EACH ROW EXECUTE FUNCTION cinecore.fn_prevent_location_double_booking();


--
-- Name: payment_milestone trg_milestone_overdue_check; Type: TRIGGER; Schema: cinecore; Owner: postgres
--

CREATE TRIGGER trg_milestone_overdue_check BEFORE INSERT OR UPDATE ON cinecore.payment_milestone FOR EACH ROW EXECUTE FUNCTION cinecore.fn_auto_mark_overdue();


--
-- Name: ott_deal trg_ott_deal_audit; Type: TRIGGER; Schema: cinecore; Owner: postgres
--

CREATE TRIGGER trg_ott_deal_audit AFTER INSERT OR DELETE OR UPDATE ON cinecore.ott_deal FOR EACH ROW EXECUTE FUNCTION cinecore.fn_audit_ott_deal();


--
-- Name: budget_head budget_head_head_of_department_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.budget_head
    ADD CONSTRAINT budget_head_head_of_department_fkey FOREIGN KEY (head_of_department) REFERENCES cinecore.person(person_id);


--
-- Name: budget_head budget_head_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.budget_head
    ADD CONSTRAINT budget_head_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: contract contract_person_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.contract
    ADD CONSTRAINT contract_person_id_fkey FOREIGN KEY (person_id) REFERENCES cinecore.person(person_id);


--
-- Name: contract contract_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.contract
    ADD CONSTRAINT contract_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: expense expense_approved_by_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES cinecore.person(person_id);


--
-- Name: expense expense_budget_head_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_budget_head_id_fkey FOREIGN KEY (budget_head_id) REFERENCES cinecore.budget_head(budget_head_id);


--
-- Name: expense expense_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: expense expense_vendor_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.expense
    ADD CONSTRAINT expense_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES cinecore.production_vendor(vendor_id);


--
-- Name: ott_deal ott_deal_platform_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal
    ADD CONSTRAINT ott_deal_platform_id_fkey FOREIGN KEY (platform_id) REFERENCES cinecore.ott_platform(ott_id);


--
-- Name: ott_deal ott_deal_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.ott_deal
    ADD CONSTRAINT ott_deal_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: payment_milestone payment_milestone_contract_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.payment_milestone
    ADD CONSTRAINT payment_milestone_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES cinecore.contract(contract_id);


--
-- Name: permit permit_location_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.permit
    ADD CONSTRAINT permit_location_id_fkey FOREIGN KEY (location_id) REFERENCES cinecore.location(location_id);


--
-- Name: permit permit_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.permit
    ADD CONSTRAINT permit_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: project project_house_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.project
    ADD CONSTRAINT project_house_id_fkey FOREIGN KEY (house_id) REFERENCES cinecore.production_house(house_id);


--
-- Name: script script_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.script
    ADD CONSTRAINT script_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: script script_written_by_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.script
    ADD CONSTRAINT script_written_by_fkey FOREIGN KEY (written_by) REFERENCES cinecore.person(person_id);


--
-- Name: shoot_schedule shoot_schedule_location_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.shoot_schedule
    ADD CONSTRAINT shoot_schedule_location_id_fkey FOREIGN KEY (location_id) REFERENCES cinecore.location(location_id);


--
-- Name: shoot_schedule shoot_schedule_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.shoot_schedule
    ADD CONSTRAINT shoot_schedule_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: song song_lyricist_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song
    ADD CONSTRAINT song_lyricist_id_fkey FOREIGN KEY (lyricist_id) REFERENCES cinecore.person(person_id);


--
-- Name: song song_music_director_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song
    ADD CONSTRAINT song_music_director_id_fkey FOREIGN KEY (music_director_id) REFERENCES cinecore.person(person_id);


--
-- Name: song song_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song
    ADD CONSTRAINT song_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- Name: song_singer song_singer_singer_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song_singer
    ADD CONSTRAINT song_singer_singer_id_fkey FOREIGN KEY (singer_id) REFERENCES cinecore.person(person_id);


--
-- Name: song_singer song_singer_song_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.song_singer
    ADD CONSTRAINT song_singer_song_id_fkey FOREIGN KEY (song_id) REFERENCES cinecore.song(song_id);


--
-- Name: theatre_release theatre_release_project_id_fkey; Type: FK CONSTRAINT; Schema: cinecore; Owner: postgres
--

ALTER TABLE ONLY cinecore.theatre_release
    ADD CONSTRAINT theatre_release_project_id_fkey FOREIGN KEY (project_id) REFERENCES cinecore.project(project_id);


--
-- PostgreSQL database dump complete
--

